body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#main-container {
  display: inline-flex;
  background-color: #ED4AAE;
  width: 100%;
  justify-items: right;
}

section#left-sidebar{
  width: 30vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}  

@media only screen and ( max-width: 768px ) {
  section#left-sidebar {
    visibility: hidden;
  }
}

img#elixa-sidebar-icon{
  width: 100%;
  background-color: #41BC3F;
  border-bottom-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 8px;
}